/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* common styles */
body{
    font-family: 'Work Sans', sans-serif;
    color: #131313;
    font-weight: 400;
}
/* nav manu and container */
.main-container{
    background: rgba(255, 144, 14, 0.1);
   padding-bottom: 51px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-header{
    margin-left: 212px;
    margin-top: 50px;
    font-weight: 700;
font-size: 45px;
}
.nav-list{
display: flex;
margin-top: 63px;
margin-right: 256px;
width: 500px;
justify-content: space-evenly;

}
.nav-list li{
   list-style: none;
   font-weight: 500;
font-size: 18px;
}
/* new-group-container */
.new-group-container{
    width: 862px;
    height: 252px;
margin-top: 102px;
margin-left: 529px;
text-align: center;


}
.new-group{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}
.new-group-desc{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.explore{
background-color: #FF900E;
padding: 20px;
color: white;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
border: 1px solid white;
margin-top: 32px;
}
.banner{
    width: 1440px;
height: 700px;
align-items: center;
margin-top: 120px;
margin-left: 240px;
border-radius: 8px;
}
/* quick list */
.quick-container{
    display: flex;
    margin: 130px 301px;
    grid-gap: 73px;
   
}
.quick-list-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}
.quick-list{
    color: #727272;
    font-weight: 500;
font-size: 45px;
}
.of-our{
    font-weight: 700;
    font-size: 45px;
}
.features {
    color: #FF900E;  
    font-weight: 700;
font-size: 45px;    
}
.quick-list-desc{
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}
/* features */
.features-container{
    display: flex;
    margin: 130px 240px;
  
}
.feature-images{
    width: 800px;
height: 1059px;
}
.all-feature{
    margin-right: 54px;
}
.top-feature-heading{
    font-weight: 700;
    font-size: 45px;
    padding-left: 21px;
    border-left:5px solid #FF900E;
    margin-bottom: 24px;

}
.top-feature> p{
    font-size: 16px;
    color: #727272;
    width: 586px;
height: 171px;
margin-bottom: 30px;
}
.feature{
    margin-bottom: 20px;
    padding: 30px; 
    padding: 30px;
    margin: 30px;
}
.feature> p{
    font-size: 16px;
    color: #727272;

}
.feature> h6{
    font-weight: 600;
font-size: 20px;
}
.feature-head{
margin-bottom: 10px;
}
.feature-image{
    position: relative;
    opacity: 1;
}
.expariance{
 position: absolute;
left: 840px;
top: 3104px;
border-radius: 8px;
text-align: center;
    width: 342px;
height: 200px;
    background-color: #FF900E;
    padding: 55px 66px;
}
.year{
    color: #FFFFFF;
    font-weight: 700;
font-size: 65px;
margin-top: 20px;
}
.exp{

    color: #FFFFFF;
    font-weight: 500;
font-size: 25px;
}
/* some fact */
.some-fact{
    font-weight: 700;
font-size: 45px;
margin-bottom: 24px;
}
.some-fact-desc{
    font-size: 16px;
    color: #727272;
}
.facts{
    margin: 207px 0 100px 240px;
}
/* logos */
.logo{
width: 241.83px;
height: 241.83px;
 padding: 56px;
 border:1px solid #FF900E;
 box-sizing: border-box;
 text-align: center;
 justify-content: center;
 align-items: center;
 border-radius: 8px;

 transition: background-color,border-radius, 1s linear;

}
.all-logos{
    display: flex;
   justify-content: space-between;
   margin: 0 290px;
  
}
.logo:hover{
background-color: cadetblue;
border:1px solid #6a00ff;
border-radius: 50px;



}

.number{
    color: #424242;
    font-weight: 600;
font-size: 45px;
}
.text{
    color: #727272;
    font-weight: 600;
font-size: 20px;
}
/* our sponsor */
.our-sponsor{
    text-align: center;
    width: 542px;
height: 129px;
margin-left: 689px;
margin-top: 180px;
}
.sponsor{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.sponsor-desc{
    font-size: 16px;
    color: #727272;
}
/* all-sponser */
.all-company{
    display: flex;
    justify-content: space-between;
    margin:50px 240px 130px ;
}
.company{
    filter: grayscale(1);
    
}
/* footer */
.main-footer{
    width: 1440px;
height: 100px;
margin-left: 240px;

background: #FFF4E7;
border-radius: 8px;
text-align: center;
margin-bottom: 216px;
box-sizing: border-box;
padding-top: 40px;

}
.hide{
    display: none;
}
/* mobail responsive */
@media screen and (max-width:576px) {
    .nav-container, .nav-list ,.nav-list>li{
     flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 30px;
    margin-right: 0;
    }
    body{
       margin-left: 20px;
    }
    .nav-header {
        margin-left: 12px;
       
    }
    .new-group {
       
        font-size: 44px;
        margin-bottom: 20px;
    }
    .new-group-desc {
        font-weight: 400;
        font-size: 12px;
      
    }
    .new-group-container{
        width: 100%;
        height: 100%;
    margin-top: 102px;
    margin-left: 2px;
    text-align: center;
    }
    .banner>img{
        height: 200px;
        width: 350px;
    }
    .banner{
        height: 100%;
        width: 100%;
        margin: 10px 0;
        

    }
    .quick-list-images {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        margin-left: 50px;
      /* margin: 5px; */
    }
    .quick-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        grid-gap: 3px;
        margin-left: 5px;
    }
    .main-container {
        background: rgba(255, 144, 14, 0.1);
      
    }
    .features-container{
        display: flex;
        flex-direction: column;
    }
    .top-feature-heading {
      
        font-size: 20px;
        padding-left: 21px;
        border-left: 5px solid #FF900E;
        margin-bottom: 24px;
    }

    .features-container {
        display: flex;
       margin: 13px 24px;
}
.top-feature> p {
   
    width: 300px;
    height: 100px;
    margin-top: 20px;
    /* margin-bottom: 30px; */
}
.feature {
    margin-left: 50px;
  
}
.feature-images, .feature-images img{ 
    width: 340px;
    height: 400px;
}
.facts {
    margin:0;
    margin-top: 200px;
    margin-bottom: 50px;
}
.expariance {
    position: absolute;
    left: 100px;
    top: 4900px;
  
    text-align: center;
  
    width: 142px;
    height: 70px;
   
    padding: 15px 16px;
   
}
.year {

   
    font-size: 25px;
    margin-top: 2px;
}
.all-logos {
    flex-direction: column;
    margin: 10px 50px;
    gap: 50px;
}
.our-sponsor {
    text-align: justify;
    width: 220px;
    height: 89px;
    margin-left: 69px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.all-company {
   flex-direction: column;
  margin: 200px 100px;
  row-gap: 40px;

   
}
.company{
    row-gap: 30px;
}
.main-footer{
margin: 50px 50px;
    width: 240px;
    height: 150px;
    text-align: center;
  
}
}